.emp_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: rgb(20, 166, 20);
    color:white;
}
.form-control.ng-invalid.ng-touched{
    border-color: red;
}
.form-control.ng-valid.ng-touched{
    border-color: green;
}