<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-success" href="#">EMPLOYEES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="addEmployee" [class.profileName]="profileView">Add Employee</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-success log_btn" (click)="logOut()" [class.profileName]="profileView" type="submit">log Out</button>
          </li>
        </ul>
        <form class="d-flex " role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success log_btn" type="submit">Search</button>
          <button class="btn btn-outline-success log_btn" type="submit"[class.closeLogin]="closeLogIn" (click)="openloginForm()">Log In</button>
          <div class="profile text-center" [class.profileName]="profileView">
            <span class="fs-4 ms-3 me-3"><i class="fa-regular fa-user" style="color: #000000;"></i></span>
          </div>
          <span class="fs-5 ms-3 me-3" >{{userName}}</span>
        </form>
      </div>
    </div>
  </nav>
</header>
<section class="mainComponent">
  <div [class.display]="displayAlret" class="alert alert-success w-25 mt-3" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class=" bg-secondary-subtle text-center fs-2"> EMPLOYEES DETAILS </div>
      <div class="  mt-4">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">Employee_Id</th>
              <th scope="col">Emplyee_Name</th>
              <th scope="col">Position</th>
              <th scope="col">Address</th>
              <th scope="col">Salar</th>
            </tr>
          </thead>
          <tbody *ngFor="let i of employeeDetails">
            <tr>
              <th scope="row">{{i._id}}</th>
              <td>{{i.fullname}}</td>
              <td>{{i.position}}</td>
              <td>{{i.address}}</td>
              <td>{{i.salary}}</td>
              <td [class.profileName]="profileView"><a routerLink="editEmployee/{{i._id}}"> <em title="Edit"><i
                      class="fa-regular fa-pen-to-square edit_btn"></i></em></a></td>
              <td [class.profileName]="profileView">
                <!-- Button trigger modal -->
                <button type="button" class="delete_btn" (click)="delete(i._id,i.fullname)" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="fa-solid fa-trash delete_btn"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        Are you sure want to delete employee {{fullname}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                        <button type="button" (click)="deleteEmployee()" data-bs-dismiss="modal"
                          class="btn btn-success">DELETE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div [class.open]="logInFormOpen">
  <section class="loginComponent">
    <div class="sub_login">
      <div class="login_head">
        <div class="regLog_btn">
          <button type="button" class="btn reg_btn mt-3" (click)="openRegForm('login')">LOG IN</button>
          <button type="button"  class="btn reg_btn mt-3 ms-3"  (click)="openRegForm('register')">REGISTER</button>
        </div>
        <div class="close_btn">
          <a (click)="close()"><span>X</span></a>
        </div>
        
      </div>
      
      <ng-container *ngComponentOutlet="openLoginForm"></ng-container>
    </div>
  </section>
</div>